Repository stardustmeg/greenshop, pull requests merged in 2024-06, with the labels that each got.

#374 fix(RSS-ECOMM-5_89): delete save state for cart and shopList
  src/features/WishlistButton/model/WishlistButtonModel.ts
  src/pages/CartPage/view/cartPageView.module.scss
  src/shared/API/cart/model/CartModel.ts
  src/shared/API/cart/tests/cart.spec.ts
  src/shared/API/customer/CustomerApi.ts
  src/shared/API/shopping-list/ShoppingListApi.ts
  src/shared/API/shopping-list/model/ShoppingListModel.ts
  src/shared/API/shopping-list/test/shoppingList.spec.ts
Labels: fix, test, style, sprint5

#375 feat(RSS-ECOMM-5_88): new project
  .env
  .github/workflows/ci.yml
  .gitignore
  src/entities/ProductCard/model/ProductCardModel.ts
  src/entities/ProductCard/view/ProductCardView.ts
  src/entities/Summary/view/SummaryView.ts
  src/features/ProductFilters/view/ProductFiltersView.ts
  src/features/WishlistButton/model/WishlistButtonModel.ts
  src/pages/ProductPage/model/ProductPageModel.ts
  src/shared/utils/getLanguageValue.ts
  src/test/mocks/constant.ts
  src/test/mocks/handlers/cart.ts
  src/test/mocks/handlers/category.ts
  src/test/mocks/handlers/customer.ts
  src/test/mocks/handlers/discount.ts
  src/test/mocks/handlers/product.ts
  src/test/mocks/handlers/project.ts
  src/test/mocks/handlers/shopping-list.ts
  src/test/mocks/handlers/token.ts
  src/widgets/Footer/model/FooterModel.ts
  src/widgets/ProductInfo/model/ProductInfoModel.ts
  src/widgets/ProductInfo/view/ProductInfoView.ts
  src/widgets/ProductOrder/model/ProductOrderModel.ts
  src/widgets/ProductOrder/view/ProductOrderView.ts
  vitest.setup.ts
Labels: feature, sprint5

#376 feat(RSS-ECOMM-5_87): add BroadcastChannel for synchronization
  src/global.d.ts
  src/pages/CartPage/model/CartPageModel.ts
  src/pages/CartPage/view/CartPageView.ts
  src/shared/API/cart/model/CartModel.ts
  src/shared/API/sdk/client.ts
  src/shared/API/types/validation.ts
  src/shared/types/channel.ts
  src/widgets/ProductOrder/model/ProductOrderModel.ts
  src/widgets/ProductOrder/view/ProductOrderView.ts
Labels: feature, sprint5

#377 fix(RSS-ECOMM-5_26): lock buttons for response
  .env.example
  README.md
  src/entities/Coupon/view/CouponView.ts
  src/entities/ProductCard/model/ProductCardModel.ts
  src/features/AddressAdd/model/AddressAddModel.ts
  src/features/AddressEdit/model/AddressEditModel.ts
  src/features/PasswordEdit/model/PasswordEditModel.ts
  src/features/PasswordEdit/view/PasswordEditView.ts
  src/features/PersonalInfoEdit/model/PersonalInfoEditModel.ts
  src/features/WishlistButton/model/WishlistButtonModel.ts
  src/features/WishlistButton/view/wishlistButtonView.module.scss
  src/pages/CartPage/view/CartPageView.ts
  src/shared/Confirm/model/ConfirmModel.ts
  src/shared/Modal/model/ModalModel.ts
  src/shared/Modal/view/ModalView.ts
  src/shared/utils/messageTemplates.ts
  src/shared/utils/userMessage.ts
  src/widgets/LoginForm/model/LoginFormModel.ts
  src/widgets/ProductInfo/model/ProductInfoModel.ts
  src/widgets/ProductOrder/view/ProductOrderView.ts
  src/widgets/ProductOrder/view/productOrderView.module.scss
  src/widgets/RegistrationForm/model/RegistrationFormModel.ts
  src/widgets/UserInfo/model/UserInfoModel.ts
Labels: documentation, fix, style, sprint5
