Repository stardustmeg/greenshop, pull requests merged in 2025-04, with the labels that each got.

#386 fix(deps): update vitest to v3.1.1
  package.json
Labels: chore, renovate

#388 fix(deps): update dependency vite-plugin-checker to ^0.9.0
  package.json
Labels: chore, renovate

#392 fix(RSS-ECOMM-5_84): cart shop list request and tests update
  src/shared/API/cart/model/CartModel.ts
  src/shared/API/shopping-list/model/ShoppingListModel.ts
  src/test/mocks/constant.ts
  src/test/mocks/handlers/cart.ts
  src/test/mocks/handlers/category.ts
  src/test/mocks/handlers/customer.ts
  src/test/mocks/handlers/discount.ts
  src/test/mocks/handlers/product.ts
  src/test/mocks/handlers/project.ts
  src/test/mocks/handlers/shopping-list.ts
  src/test/mocks/handlers/token.ts
Labels: bug 🐞

#393 fix(RSS-ECOMM-5_82): add null check for facets in response handling
  src/shared/API/product/model/ProductModel.ts
Labels: bug 🐞, fix, sprint5
